@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="clientProfile">
</div>
<div id="servicesMenu">
</div>

<h1>Fancy Spa</h1>
<div id="clientProfile">
    <h3>Client profile</h3>
    <p>@ViewBag.name</p>
</div>
<div id="servicesMenu">

    <h5>Facial Treatments</h5>
    <p>Your @ViewBag.skintype skin type is best suited to the follow facial types:</p>

    <ul>
        @foreach (string item in ViewBag.appropriateFacials)
        {
            <li>@item</li>
        }
    </ul>

    <h5>Nail Services</h5>
    @if (ViewBag.manipedi == "manicure")
    {
        <div class="manicure">
            <p>@ViewBag.message[0]</p>
        </div>
    }
    else if (ViewBag.manipedi == "pedicure")
    {
        <div class="pedicure">
            <p>@ViewBag.message[1]</p>
        </div>
    }
    else
    {      
        <div class="manicure">
            <p>@ViewBag.message[0]</p>
        </div>
        <div class="pedicure">
            <p>@ViewBag.message[1]</p>
        </div>
    }
</div>




